.App {
  text-align: left;
}
.cards{
  text-align: center;
  background-color: #fff;
  border: 2px solid rgb(209, 209, 209);
}
.btn{
  padding: 20px;
}
.border{
  border: 2px solid rgb(209, 209, 209);
  padding: 10px;
  width: 155px;
}
.dropdowndiv{
  text-align: center;
  width: 100%;
}
.table{
  padding: 15px;
  text-align: center;
}